NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://ryhvhkggesmiylkzofbb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5aHZoa2dnZXNtaXlsa3pvZmJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NTAzMTgsImV4cCI6MjA4OTUyNjMxOH0.n-rERZIG-N8SzEzdBjl_AIiYOdujsJMZPRP4iKdkSp8"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ5aHZoa2dnZXNtaXlsa3pvZmJiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Mzk1MDMxOCwiZXhwIjoyMDg5NTI2MzE4fQ.SpZkkjVpZWCcliaWbsK2iAMUTIpUUjPaxln6gLS6EWg"
BOOK_METADATA_PROVIDER=openlibrary
NL_API_CERT_KEY=your-nl-open-api-cert-key

